<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.OptionsMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.Options" >
    <id column="option_id" property="optionId" jdbcType="BIGINT" />
    <result column="option_name" property="optionName" jdbcType="VARCHAR" />
    <result column="option_value" property="optionValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    option_id, option_name, option_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.blog.pojo.OptionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wp_options
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wp_options
    where option_id = #{optionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wp_options
    where option_id = #{optionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.blog.pojo.OptionsExample" >
    delete from wp_options
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.blog.pojo.Options" >
    insert into wp_options (option_id, option_name, option_value
      )
    values (#{optionId,jdbcType=BIGINT}, #{optionName,jdbcType=VARCHAR}, #{optionValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blog.pojo.Options" >
    insert into wp_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optionId != null" >
        option_id,
      </if>
      <if test="optionName != null" >
        option_name,
      </if>
      <if test="optionValue != null" >
        option_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optionId != null" >
        #{optionId,jdbcType=BIGINT},
      </if>
      <if test="optionName != null" >
        #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionValue != null" >
        #{optionValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.blog.pojo.OptionsExample" resultType="java.lang.Integer" >
    select count(*) from wp_options
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wp_options
    <set >
      <if test="record.optionId != null" >
        option_id = #{record.optionId,jdbcType=BIGINT},
      </if>
      <if test="record.optionName != null" >
        option_name = #{record.optionName,jdbcType=VARCHAR},
      </if>
      <if test="record.optionValue != null" >
        option_value = #{record.optionValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wp_options
    set option_id = #{record.optionId,jdbcType=BIGINT},
      option_name = #{record.optionName,jdbcType=VARCHAR},
      option_value = #{record.optionValue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.pojo.Options" >
    update wp_options
    <set >
      <if test="optionName != null" >
        option_name = #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="optionValue != null" >
        option_value = #{optionValue,jdbcType=VARCHAR},
      </if>
    </set>
    where option_id = #{optionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.Options" >
    update wp_options
    set option_name = #{optionName,jdbcType=VARCHAR},
      option_value = #{optionValue,jdbcType=VARCHAR}
    where option_id = #{optionId,jdbcType=BIGINT}
  </update>
  
  <!-- String getOption(@Param("key")String key); -->
  <select id="getOption" resultType="string">
  	SELECT 
	  `option_value` 
	FROM
	  `wp_options` 
	WHERE `option_name`=#{key}
  </select>
  
  <!-- void bathSaveOptions(@Param("options")Map<String, String> options); --> 
 	<update id="bathSaveOptions" parameterType="map">
 		<foreach collection="options.keys" item="optionName" separator=";">
	 		UPDATE 
			  `wp_options` 
			SET
			  `option_value` = #{options[${optionName}]}
			WHERE `option_name`= #{optionName}
		</foreach>
 	</update>
  
</mapper>